@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: Poppins;
}

nav {
  background-color: black;
  display: flex;
  padding-inline: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

nav .left-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav .left-nav img {
  height: 50px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
nav a:hover {
  color: #eb374e;
}

nav .right-nav a {
  background-color: #eb374e;
  padding-inline: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
}

nav .right-nav a:hover {
  background-color: #d12038;
  color: white;
}
nav .right-nav .icon {
  display: none;
}
.personal {
  display: flex;
  padding-inline: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 32px;
}

.card {
  width: 450px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 16px;
}

.card .image img {
  /* width : untuk mengatur lebar elemen */
  width: 400px;
  /* height : untuk mengatur tinggi elemen */
  height: 500px;
  /* object-fit : untuk mengatur tampilan gambar sekala pembungkus */
  object-fit: cover;
  /* object-position : untuk mengatur posisi gambar */
  object-position: center;
  /* aspect-ratio : untuk mengatur rasio/proporsi gambar */
  aspect-ratio: 1/1;
  padding-inline: 25px;
}

.card .header h1 {
  font-size: 32px;
  margin: 0;
  margin-top: 8px;
}

.card table {
  width: 100%;
  border: 1px solid gray;
  padding: 6px;
  border-collapse: collapse;
}

.card table tr td {
  font-weight: 300;
  padding: 6px;
  text-align: center;
}
/* nth:chlid : pseudo class css untuk memilih elemen yang punya posisi tertentu di dalam urutan anak elemen
argumen odd/even untuk memilih elemen dengan posisi genap/ ganjil */
.card table tr:nth-child(even) {
  background-color: #ffced5;
}

.personal .right h2 {
  margin: 0;
}

.personal .right p {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}
.personal .right .skill {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.personal .right .skill .frontend {
  border: 1px solid black;
  border-radius: 12px;
  padding: 16px;
  max-width: 320px;
}

.personal .right .skill img {
  width: 60px;
  height: 60px;
  border-width: 1px 1px black;
}
.personal .right .skill .backend {
  border: 1px solid black;
  border-radius: 12px;
  padding: 16px;
  max-width: 320px;
}

.personal .right .findme {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.personal .right .findme h2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.personal .right .findme .social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.personal .right .findme .social a img {
  width: 50px;
}

footer {
  display: flex;
  background-color: black;
  padding: 16px;
  justify-content: center;
  color: white;
  align-items: center;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  nav {
    padding-inline: 16px;
  }
  nav .left-nav {
    gap: 10;
    align-items: center;
  }

  nav .left-nav a img {
    height: 24px;
  }
  nav .right-nav a {
    display: none;
  }
  nav .right-nav .icon {
    display: block;
    background-color: black;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  nav .right-nav .icon:hover {
    background-color: black;
  }
  .material-symbols-outlined:hover {
    color: red;
  }
  .personal {
    flex-direction: column;
    padding-inline: 16px;
  }
  .personal .left {
    display: flex;
    justify-content: center;
  }
  .personal .right h2 {
    font-size: large;
  }
  .card {
    max-width: fit-content;
  }
  .card .image img {
    width: 85%;
    /* object-fit : untuk mengatur tampilan gambar sekala pembungkus */
    object-fit: cover;
    /* object-position : untuk mengatur posisi gambar */
    object-position: center;
    right: 16px;
    display: flex;
    justify-content: center;
    /* aspect-ratio : untuk mengatur rasio/proporsi gambar */
    aspect-ratio: 1/1;
  }
  .personal .right h1,
  h2,
  .skill,
  .social {
    display: flex;
    justify-content: center;
  }
}
